body{
	overflow-y: hidden;
}

/* apply this class for animation transitions between classes */
.transition-class{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#layerListHolder{
	height: 500px;
	width: 300px;
	display: none;
}

#layerList{
	height: 100%;
	width: 100%;
}

/* for css when *TABLET* mode is engaged */
@media (max-width: 767px){
	.toc-view{
		background-color:  rgba(255,255,255,0) !important;
	}
	#tocModal{
		padding-left: 0px !important;
	}
	.legend-view{
		height: 300% !important;
	}
	.level-toggle-view{
		background-color: rgba(0,0,0,.25) !important;
	}
	.map-view{
		height: 100vh !important;
	}
	#legendButton{
		visibility: visible;
	}
	.toc-button{
		visibility: hidden;
	}
	.rotate-text {
		-moz-transform: rotate(-69deg);
		-webkit-transform: rotate(-69deg);
		transform:  rotate(-69deg);
		bottom: 10px !important;
		left: 15%;
		text-align-last: left;
		background-color: rgba(0,0,0,0) !important;
		white-space: nowrap;
	}
	.level-switch-slider {
		text-align: left !important;
		left: 60px;
		position: absolute;
	}
	.leaflet-control-container-tablet-custom{
		position: absolute;
		top: 0px;
		left: -5px;
	}
	.layer-list-view{
	  padding-left: 50px !important;
		padding-top: 12px;
		height: 500% !important;
		overflow-y: auto!important;
	}
}

/* for css when *PHONE* mode is engaged */
@media (max-width: 499px){
	.rotate-text {
		-moz-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		transform:  rotate(-90deg);
		text-align-last: left;
		left: 50%;
	}
}

/* for css when *DESKTOP* mode is engaged */
@media (min-width: 768px){
	.toc-view{
		height: 20vh;
		background-color: #619ec7 !important;
	}
	.map-view{
		height: 80vh;
	}
	#legendButton{
		visibility: hidden;
	}
	.toc-button{
		visibility: visible;
	}
	#layerListHolder{
	    position: relative;
		top: -90px;
		left: 12px;
	}

	.layer-list-holder-closed{
		width: 0px;
		height: 0px;
	}
	#layerList{
		width: 120%;
	}
}

/* glyphicons */
.icon-class{
	color: #ffffff;
}
.button-icon-class{
	color: #999;
	top: 8px;
}

/* dock/undock button */
.toc-button{
    height: 20px;
    width: 80px;
    position: absolute;
    background-color: #2c5875;
    left: 50%;
    z-index: 99;
	cursor: pointer;
	text-align: center;
	opacity: 0;
}
.toc-button-unfade{
 	opacity: 100;
}
.toc-button-open{
	margin: -10px -40px;
}
.toc-button-closed{
	margin: -20px -40px;
}

/* docked/undocked toc views */
.map-view{
	background-color: #619ec7;
	padding-right:5px;
	padding-left:5px;
}
.map-view-full{
	height: 100vh!important;
}
.map-view-toc{
	height: 80vh;
}
.toc-view{
	padding:4px;
}
.toc-view-open{
	height: 20vh!important;
}
.toc-view-closed{
	height: 5vh;
}

/* toc elements  */
.layer-list-view{
	background-color: #2c5875;
	border-radius: 5px;
	padding-left:5px;
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: 0px !important;
}
.level-toggle-view{
	background-color: #e95d5f;
	height: 100%;
}
.legend-view{
	height: 100%;
	padding-right: 0px;
    padding-left: 0px;
}

/* level 1 level 2 toggle */
.switch {
	position: relative;
	display: inline-block;
	width: 2vh;
	height: 16vh;
}

#neatline{
	height: 3px;
	width:100%;
	position: absolute;
	bottom:0px;
	left:0px;
	background-color: #619ec7 !important;
	display: none;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 2vh;
	left: 0;
	right: 0;
	bottom: 2vh;
	margin-top: 5px;
	background-color: #2c5875;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 2vh;
	width: 2vh;
	left: 0vh;
	background-color: rgba(0,0,0,0);
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #c8e6ab;
}

input:focus + .slider {
	box-shadow: 0 0 1px #c8e6ab;
}

input:checked + .slider:before {
	-webkit-transform: translateY(10vh);
	-ms-transform: translateY(10vh);
	transform: translateY(10vh);
}

.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
.level-switch-slider{
	text-align: center;
}
.text-slider{
    color: #ffffff;
	position: relative;
	line-height: 1;
	font-size: 8pt;
	white-space: nowrap;
	z-index: 100;
}
.text-slider-1{
	top: 10px;
}
.text-slider-2{
	bottom: 12.5px;
}

/* legend classes text */
.shade-level-1-label-text {
	/*background-color:rgba(0,0,0,.25) !important;*/
	height: 28px !important;
}

.level-1-label-text{
    font-size: 8pt;
	bottom:0px;
    width: 100%;
    height: 46px;
	position: absolute;
	line-height: 1;
	text-align: center;
	padding-top: 2px;
	//white-space: nowrap;
	color: white;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.histogram-div{
	position: absolute;
	bottom: 0px;
}

.legend-off, .layer-list-off{
	visibility: hidden;
	height: 0% !important;
}

.poly-legend-holder{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,.25);
}

.point-legend-holder{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,.25);
}

.line-legend-holder{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,.25);
}

.legend-holder-hidden{
	visibility: hidden;
	height: 0%;
}

/* leaflet customized css */
.radio, .checkbox{
	color: #ffffff;
	font-size: 8pt;
	height: 10px;
	line-height: 2;
	margin-top: 5px;
}

/* leaflet customized css */
.leaflet-control-custom{
	width: 28px;
	height: 28px;
	background-color: #fff;
	cursor: pointer !important;
    text-align: center;
}

/*Aligns zoom controls with other custom controls*/
.leaflet-control-zoom{
	margin-left: 20px !important;

}

/*Matches zoom control color to other control colors*/
.leaflet-control-zoom-in, .leaflet-control-zoom-out{
	color: #999 !important;
}

.leaflet-control-attribution, .cartodb-legend-stack {
	visibility:hidden;
}

.cartodb-logo {
	visibility:hidden !important;
}

body > div.cartodb-tooltip{
	margin-bottom: 15px !important;
	margin-left: 10px !important;
	border-radius: 5px;
	width: 100%;
	min-width: 17.5px;
    max-width: 24px;
	height: 17.5px;
}
/* gives to the tooltip different styles */
div.cartodb-tooltip-content-wrapper{
	padding: 1px 1px 1px 1px;
	max-width:none;
	text-align: center;
	background-color: #FFF!important;
	opacity: 0.9;
	border-radius: 5px!important;
}
/* set styles to the <p> tag of the tooltip */
div.cartodb-tooltip-content-wrapper p{
	color: #2c5875 !important;
	font-size:8pt;
}
/* set infobox styles */
.cartodb-infobox{
	opacity:0.9;
	background-color: #FFF!important;
	color: #2c5875 !important;
	border-radius: 5px!important;
}

/* set styles to the custom infowindow */
.infowindow-custom{
	position: relative;
	width: 100%;
	background-color: #FFF;
	margin-bottom: 2px;
	opacity: 0.9;
	text-align: left;
	font-style: oblique;
	background-color: #FFF;
	color: #2c5875;
	border-radius: 10px;
}

.cartodb-popup-content .content h3{
  font-style: italic;
}
.cartodb-popup-content .content p{
  text-align: left;
  font-size: 8pt;
  color:#2c5875;
  margin-left: 1px;
}

/* set styles to the custom infowindow -> close button */
.cartodb-popup-close-button {
	position: absolute;
	top: -12px;
	right: -11px;
	width: 26px;
	height: 26px;
	background: url('http://libs.cartodb.com/cartodb.js/v3/themes/img/light.png') no-repeat 0 -23px;
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	opacity: 1;
	text-transform: uppercase;
	z-index: 3;
}
/* set styles to the custom infowindow -> tip container */
.cartodb-popup-tip-container{
	position: absolute;
	bottom: -13px;
	left: 23px;
	width: 16px;
	height: 14px;
	background: url('http://libs.cartodb.com/cartodb.js/v3/themes/img/light.png') no-repeat -23px -7px;
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	opacity: 1;
	z-index: 3;
}


th{
	padding-left: 25px!important;
}
td{
	padding-left: 25px!important;
	text-align: left;
}

.cartodb-searchbox{
	float: none!important;
}

.leaflet-search-control{
	float: none!important;
}
.slider{
	/*display: inline;*/
	margin-left: 25px!important;
	margin-right: 25px!important;
	margin-top: 10px!important;
}

.legend-label{
	padding-top: 10px;
	margin-bottom: 0px;
}

#close-toc{
	position: relative;
	top: 0px;
	right: 0px;
}
