body{
	overflow-y: hidden;
}

/* apply this class for animation transitions between classes */
.transition-class{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* for css when *TABLET* mode is engaged */
@media (max-width: 767px){
	.toc-view{
		background-color:  rgba(255,255,255,0) !important;
	}
	.legend-view{
		height: 300% !important;
	}
	.level-toggle-view{
		background-color: rgba(0,0,0,.25) !important;
	}
	.map-view{
		height: 100vh !important;
	}
	#legendButton, #layerListButton{
		visibility: visible;
	}
	.toc-button{
		visibility: hidden;
	}
	.rotate-text {
		-moz-transform: rotate(-69deg);
		-webkit-transform: rotate(-69deg);
		transform:  rotate(-69deg);
		bottom: 10px !important;
		left: 15%;
		text-align-last: left;
		background-color: rgba(0,0,0,0) !important;
		white-space: nowrap;
	}
	.level-switch-slider {
		text-align: left !important;
		left: 60px;
		position: absolute;
	}
	.leaflet-control-container-tablet-custom{
		position: absolute;
		top: 0px;
		left: -5px;
	}
}

/* for css when *PHONE* mode is engaged */
@media (max-width: 499px){
	.rotate-text {
		-moz-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		transform:  rotate(-90deg);
		text-align-last: left;
		left: 50%;
	}
}

/* for css when *DESKTOP* mode is engaged */
@media (min-width: 768px){
	.toc-view{
		height: 20vh;
		background-color: #619ec7 !important;
	}
	.map-view{
		height: 80vh;
	}
	#legendButton, #layerListButton{
		visibility: hidden;
	}
	.toc-button{
		visibility: visible;
	}
}

/* glyphicons */
.icon-class{
	color: #ffffff;
}
.button-icon-class{
	color: #999;
	top: 8px;
}

/* dock/undock button */
.toc-button{
    height: 20px;
    width: 80px;
    position: absolute;
    background-color: #2c5875;
    left: 50%;
    z-index: 99;
	cursor: pointer;
	text-align: center;
	opacity: 0;
}
.toc-button-unfade{
 	opacity: 100;
}
.toc-button-open{
	margin: -10px -40px;
}
.toc-button-closed{
	margin: -20px -40px;
}

/* docked/undocked toc views */
.map-view{
	background-color: #619ec7;
	padding-right:5px;
	padding-left:5px;
}
.map-view-full{
	height: 100vh;
}
.map-view-toc{
	height: 80vh;
}
.toc-view{
	padding-right:5px;
	padding-left:5px;
}
.toc-view-open{
	height: 20vh;
}
.toc-view-closed{
	height: 0vh;
}

/* toc elements  */
.layer-list-view{
	background-color: #2c5875;
	padding-left:5px;
	height: 100%;
	overflow-y: auto;
}
.level-toggle-view{
	background-color: #e95d5f;
	height: 100%;
}
.legend-view{
	height: 100%;
	padding-right: 0px;
    padding-left: 0px;
}

/* level 1 level 2 toggle */
.switch {
	position: relative;
	display: inline-block;
	width: 2vh;
	height: 16vh;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 2vh;
	left: 0;
	right: 0;
	bottom: 2vh;
	margin-top: 5px;
	background-color: #2c5875;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 2vh;
	width: 2vh;
	left: 0vh;
	background-color: #ffffff;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #c8e6ab;
}

input:focus + .slider {
	box-shadow: 0 0 1px #c8e6ab;
}

input:checked + .slider:before {
	-webkit-transform: translateY(10vh);
	-ms-transform: translateY(10vh);
	transform: translateY(10vh);
}

.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
.level-switch-slider{
	text-align: center;
}
.text-slider{
    color: #ffffff;
	position: relative;
	line-height: 1;
	font-size: 8pt;
	white-space: nowrap;
	z-index: 100;
}
.text-slider-1{
	top: 10px;
}
.text-slider-2{
	bottom: 12.5px;
}

/* legend classes text */
.shade-level-1-label-text {
	background-color:rgba(0,0,0,.25) !important;
	height: 28px !important;
}

.level-1-label-text{
    font-size: 8pt;
	bottom:0px;
    width: 100%;
    height: 46px;
	color: #ffffff;
	position: absolute;
	line-height: 1;
	text-align: center;
	padding-top: 2px;
	//white-space: nowrap;
}

.histogram-div{
	position: absolute;
	bottom: 0px;
}

.legend-off{
	visibility: hidden;
}

.legend-holder{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,.25);
}

/* leaflet customized css */ 
.radio, .checkbox{
	color: #ffffff;
	font-size: 8pt;
	height: 10px;
	line-height: 2;
	margin-top: 5px;
}

/* leaflet customized css */ 
.leaflet-control-custom{
	width: 28px;
	height: 28px;
	background-color: #fff;
	cursor: pointer !important;
    text-align: center;
}
.leaflet-control-attribution, .cartodb-legend-stack {
	visibility:hidden;
}
.cartodb-logo {
	visibility:hidden !important;
}